::view-transition-old(image),
::view-transition-new(image) {
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: fade-out 350ms cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
  animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1);
  mix-blend-mode: normal;
}

.card {
  color: white;
  transition: transform 500ms ease;
  overflow: hidden;
}

.icon {
  height: 3rem;
}
.card:hover .detailsMovie {
  visibility: visible;
}
.card:hover {
  background-color: black;
  transform: scale(1.08);
}
.detailsMovie {
  padding-inline: 1.4rem;
  padding-top: 0.5rem;
  visibility: hidden;
}

.iconsRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.topDetails-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match {
  color: #05ff00;
}
.detailsMovie p {
  padding-bottom: 0.5rem;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .icon {
    height: 2.5rem;
  }
  .card:hover {
    background-color: black;
  }
  .listMovies{
    height: 45vh;
  }
}
