.slider-wrapper {
  position: relative;
}
.slider {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%, 0.25);
}
.sldier > div {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.infoHeader {
  position: absolute;
  z-index: 11;
  left: 5rem;
  top: 25%;
  animation: moveTwo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
.plotHeader {
  width: 50%;
  color: white;
}
.play {
  height: 1.8em;
  font-size: 2em;
  background-color: #a70fdd;
  color: white;
  border: solid 2px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1em;
  padding: 1.5rem;
}
.play_more {
  height: 1.8em;
  font-size: 2em;
  background-color: #66666660;
  color: white;
  border: solid 2px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1em;
  padding: 1.5rem;
}
.topButtonColor2 {
  width: 100%;
  height: 5px;
  top: 0;
  background-color: #66666674;
  position: absolute;
}
.bottomButtonColor2 {
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #626262ac;
  position: absolute;
}
.logoPlay {
  height: 2rem;
}
.bottonsHeader {
  position: absolute;
  bottom: 30%;
  margin-left: 6.5em;
  display: flex;
  gap: 2em;
  font-size: 0.8em;
}
.headerLogo {
  animation: move;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  height: 200px;
}
.headerText{
  color: white;
  width: 50%;
  font-size: 1.2em;
  animation: text;
  animation-duration: 0.5ms ease;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.control{
  position: absolute;
  width: 70px;
  border-radius: 70px;
  height: 70px;
  background-color: #a9a9a98c;
  right: 2rem;
  top: 60%;
  border: none;
  transition: 250ms ease-out;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.control:hover{
  background-color: #a9a9a9;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}
@keyframes move {
  from {
    height: 200px;
  }
  to {
    height: 150px;
  }
}
@keyframes moveTwo {
  from {
    top: 25%;
  }
  to {
    top: 42%;
  }
}

@keyframes text {
  from{
    visibility: visible;
  }
  to{
    visibility: hidden;
    display: none;
  }
}
.container-header{
  height: 75vh;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
}
