body {
  background-color: black;
}

/* .background_home {
  background: url("/images/backMovie.png");
  background-size: cover;
} */

.logoHeader {
  width: 75%;
}
/* .infoMovieContainer {
  width: 45%;
  padding-left: 3em;
}

.listMovies {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.blockCards {
  margin: auto;
  padding-left: 5em;
  overflow: hidden;
  margin-bottom: 2rem;
  z-index: 10000;
  position: relative;
}
.blockCards > h2 {
  padding-bottom: 1em;
  font-size: 2em;
  color: white;
} */
.clasic-container {
  background: linear-gradient(#ef040400, #000000fb 30%, #000000, #000000);
}

.backgroundCharacter {
  width: 350px;
}
.logo {
  width: 100%;
}
