
.logoHeader {
  width: 75%;
}

.backgroundCharacter {
  width: 350px;
}
.logo {
  width: 100%;
}
.footer {
  position: relative;
  height: 20vh;
  width: 100%;
  margin: 0 auto;
  background-color: #1a2edd;
  align-items: center;
  display: flex;
}
.topBarFooter{
  position: absolute;
  top: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #2b3eed;
  height: 0.5rem;
}
.bottomBarFooter{
  position: absolute;
  bottom: 0;
  margin: 0; padding: 0;
  width: 100%;
  background-color: #1326cf;
  height: 0.5rem;
}
.redesContainer{
  width: 100%;
  height: max-content;
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}