@font-face {
  font-family: fontUnic;
  src: url(../public/public/W95FA.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: fontUnic;
}
.login_container {
  height: 100vh;
  background: url(/images/fondo3K.jpg);
  background-color: rgb(31, 31, 31);
  background-blend-mode: soft-light;
  background-size: cover;
}
.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_inside_container {
  background-color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 40rem;
  padding-block: 3em;
  z-index: 10000;
  position: relative;
  border: 2px solid black;
}
.inputLogin {
  width: 30em;
  height: 3em;
  border: black 1px solid;
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
}
.buttonLogin {
  height: 2em;
  font-size: 2em;
  background-color: #a70fdd;
  color: white;
  border: solid 2px black;
  width: 50%;
  position: relative;
}
.bottomButtonColor {
  width: 100%;
  background-color: #7d00aa;
  height: 5px;
  position: absolute;
  bottom: 0;
}
.topButtonColor {
  width: 100%;
  height: 5px;
  top: 0;
  background-color: #c82dff;
  position: absolute;
}
.titleLogin_container {
  background-color: #a70fdd;
  display: flex;
  width: 40rem;
  justify-content: space-between;
  padding-block: 0.5em;
  color: white;
  margin-bottom: 0.4rem;
  border: black 2px solid;
  padding: 1rem;
  position: relative;
  font-weight: normal !important;
  z-index: 1000;
}
.topColor,
.leftColor,
.bottomColor {
  position: absolute;
}
.topColor {
  height: 7px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #c82dff;
}
.bottomColor {
  height: 7px;
  width: 100%;
  bottom: 0;
  background-color: #7d00aa;
  left: 0;
}
.leftColor {
  height: 100%;
  width: 7px;
  left: 0;
  bottom: 0;
  background-color: #7d00aa;
}
.titleLogin_container {
  font-size: 1.5em;
  align-items: center;
}
.backgroundViolet {
  height: 51vh;
  background-color: #c537f8;
  width: 41rem;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black solid 2px;
}
.remember {
  color: black;
  font-size: 1.2em;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}
.errorMensage {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
}
.exitFakeButton {
  background-color: #d9d9d9;
  padding-block: 0.1em;
  padding-inline: 0.2em;
  color: black;
  border: 2px solid black;
}
.logoLogin {
  position: fixed;
  height: 25vh;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
